* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
}

.nav {
    height: 7%;
    background-color: rgb(40, 39, 39);
    color: rgb(175, 174, 174);
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid rgb(6, 224, 144);
}

.nav img {
    width: 10%;
    object-fit: contain;
}

.nav ion-icon {
    font-size: 25px;
}

.pic {
    height: 80%;
    background-color: rgb(32, 30, 30);
    text-align: center;
    color: rgb(224, 219, 219);
}

.pic h2 {
    color: rgb(6, 224, 144);
}

.pic img {
    width: 100%;
}

.text {
    height: 50%;
    background-color: rebeccapurple;
}

.footer {
    height: 10%;
    background-color: aliceblue;
}


@media only screen and (min-width: 992px) {
    .nav {
        height: 8%;
    }

    .pic {
        height: 50%;
    }

    .text {
        height: 30%;
    }

    .footer {
        height: 12%;

    }
}
